ai-email-agent.json
{
  "name": "Demo: My first AI Agent in n8n",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -2384,
        608
      ],
      "id": "28bcdce4-38b1-4b74-83e8-67bf5d89144c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2160,
        608
      ],
      "id": "c3f81f91-65e6-4b16-996d-6909e775f2b7",
      "name": "Get a message",
      "webhookId": "5b1b8b46-8e69-4afb-a218-1e109ae9fbf8",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://moderate.cleantalk.org/api2.0",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "  {\n    \"name\": \"Content-Type\",\n    \"value\": \"application/json\"\n  }",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "auth_key",
              "value": "=YOUR_CLEANTALK_API_KEY"
            },
            {
              "name": "method_name",
              "value": "check_message"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "sender_email",
              "value": "={{ $json.from }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1568,
        432
      ],
      "id": "5deb989f-c30e-40d4-bd46-08ffe932f4ab",
      "name": "CleanTalk spam check API call"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/dima806/email-spam-detection-roberta",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1712,
        768
      ],
      "id": "78a509d2-ffc9-4071-aa8d-a50d5738c20a",
      "name": "Hugging Face API call",
      "credentials": {
        "httpBearerAuth": {
          "id": "YOUR_HUGGINGFACE_CREDENTIAL",
          "name": "Bearer Auth account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07da911f-e293-4253-b56b-cc71b9525762",
              "leftValue": "={{ $json.spam }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "ebb7efaf-cc37-4489-92b4-c5037e292da4",
              "leftValue": "={{ $json.noSpamScore }}",
              "rightValue": 0.85,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        608
      ],
      "id": "a3dde7e4-2ee6-484d-84da-ea1ae70b94a5",
      "name": "If",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Input: items from previous node\nreturn items.map(item => {\n  const noSpam = item.json.find(x => x.label === \"No spam\");\n  return { json: { noSpamScore: noSpam ? noSpam.score : 0 } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        768
      ],
      "id": "db799e22-f0b2-4273-a5cc-df1286661416",
      "name": "Code1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1264,
        608
      ],
      "id": "3bb5e3e7-fe60-4a38-ab0d-96eef17fd907",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    const email = item.json;\n\n    // Format \"From\"\n    let from = \"\";\n    if (email.from && email.from.value && email.from.value.length > 0) {\n        const sender = email.from.value[0];\n        from = sender.address;\n    }\n\n    // Subject\n    const subject = email.subject || email.original_subject || \"\";\n\n    // Body extraction\n    let body = email.text || \"\";\n    if (!body && email.html) {\n        body = email.html.replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, \" \");\n        body = body.replace(/<[^>]+>/g, \" \");\n        body = body.replace(/&nbsp;/gi, \" \");\n        body = body.replace(/&amp;/gi, \"&\");\n        body = body.replace(/&lt;/gi, \"<\");\n        body = body.replace(/&gt;/gi, \">\");\n    }\n\n    body = body.replace(/^\\d+\\s*/, \"\");\n    body = body.replace(/\\s+/g, \" \").trim();\n    body = body.replace(/unsubscribe.*$/i, \"\")\n               .replace(/copyright.*$/i, \"\");\n\n    const MAX_CHARS = 9000;\n    if (body.length > MAX_CHARS) {\n        body = body.slice(0, MAX_CHARS) + \" …[truncated]\";\n    }\n\n    const message = `Subject: ${subject}\\n\\n${body}`;\n\n    return {\n        json: {\n            message,\n            original_subject: subject,\n            from\n        }\n    };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        608
      ],
      "id": "def38965-0c51-4f35-90a3-d18d78d7345d",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_name",
              "displayName": "sender_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_spam",
              "displayName": "is_spam",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        592
      ],
      "id": "ac8ee8f2-1ebc-4e15-848f-68918377c351",
      "name": "Append row in sheet1",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code node for Spam formatting\nconst items = [];\n\nfor (const item of $input.all()) {\n  // Extract data from previous nodes\n  const emailData = item.json;\n  \n  // Get sender email\n  const sender = $('Get a message').first().json.from.value[0].address || 'Unknown';\n\n  const name = $('Get a message').first().json.to.value[0].name || 'Unknown';\n  \n  // Get timestamp\n  const timestamp = $('Get a message').first().json.date || new Date().toISOString();\n  \n  items.push({\n    json: {\n      is_spam: 'TRUE',\n      sender_email: sender,\n      sender_name: name,\n      timestamp: timestamp,\n      category:'spam',\n      subject: $('Get a message').first().json.subject\n    }\n  });\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        752
      ],
      "id": "812d51fa-afed-4cca-a5dc-5b1ac7cf8cc6",
      "name": "Code2"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🚨 Urgent Email Alert From: {{ $('Get a message').item.json.from.value[0].address }} Subject: {{ $('Get a message').item.json.subject }} Summary: {{ $json.summary_text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "6028bb56-c1eb-4430-b86e-d4fe1e721a78",
      "name": "Send a text message",
      "webhookId": "a7926519-3bc9-467e-b81e-5c6ef34887a2",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "678c5f27-218d-489b-9ee9-dbde1dc649a9",
              "leftValue": "={{ $('categorising').item.json.label[0] }}",
              "rightValue": "=urgent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        16
      ],
      "id": "5769c296-9c6a-4d92-8cc9-e2f2796689b9",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/facebook/bart-large-cnn",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_HUGGINGFACE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={{ $('Code').item.json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        336
      ],
      "id": "f4ce27ca-e505-43f8-9e20-f684e50a7d64",
      "name": "Summarising",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/facebook/bart-large-mnli",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_HUGGINGFACE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"inputs\": \"{{ $('Code').item.json.message }}\",\n  \"parameters\": {\n    \"candidate_labels\": [\"urgent\", \"informational\", \"needs review\"]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        336
      ],
      "id": "fea08260-19a6-4d5e-aff1-48a9d8d2d2b0",
      "name": "categorising",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ea21fdf-edbf-49f7-ac86-5467731b0735",
              "leftValue": "={{ $('categorising').item.json.label }}",
              "rightValue": "=needs review",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        176
      ],
      "id": "5153dd7f-b077-4eca-81b8-feef70786fc0",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🚨 Urgent Email Alert From: {{ $('Get a message').item.json.from.value[0].address }} Subject: {{ $('Get a message').item.json.subject }} Summary: {{ $json.summary_text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        160
      ],
      "id": "013da58c-b504-4627-83be-3076cd417c07",
      "name": "Send a text message1",
      "webhookId": "5d29cda4-98e0-400f-9849-a545c2deb24d",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nconst email = $('Get a message').first().json;\n\nconst sender = email.from.value[0].address || 'Unknown';\nconst name = email.to.value[0].name || 'Unknown';\nconst timestamp = email.date || new Date().toISOString();\nconst subject = email.subject;\n\nfor (const item of $input.all()) {\n\n  const response = item.json;\n\n  let summary = 'No summary available';\n\n  if (Array.isArray(response) && response.length > 0) {\n    if (response[0].summary_text) {\n      summary = response[0].summary_text;\n    }\n  } else if (response.summary_text) {\n    summary = response.summary_text;\n  } else if (response.error) {\n    summary = 'Error: ' + response.error;\n  }\n\n  const categorisingData = $('categorising').first().json;\n\n  let cat = 'Uncategorized';\n\n  if (Array.isArray(categorisingData) && categorisingData.length > 0) {\n    cat = categorisingData[0].label || cat;\n  }\n\n  items.push({\n    json: {\n      sender_email: sender,\n      sender_name: name,\n      timestamp: timestamp,\n      summary: summary,\n      category: cat,\n      is_spam: 'FALSE',\n      subject: subject\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        336
      ],
      "id": "a6dac827-ec3c-4075-a089-0e1f50f90c20",
      "name": "Code4"
    },
    {
      "parameters": {
        "jsCode": "return [items[0]];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        336
      ],
      "id": "aa0b3dac-f973-4516-ab3f-c423332bd8fa",
      "name": "Code3"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CleanTalk spam check API call": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hugging Face API call": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "categorising",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "CleanTalk spam check API call",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hugging Face API call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarising": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "categorising": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Summarising",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "119f5e55-9a4b-4689-9d64-af4c1f7b6d24",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed5e23a66fa5d8d2dc1856c7af4cad048f115f677e62b8830e5e2b624703744e"
  },
  "id": "5PaPXfztqo4Km2po",
  "tags": []
}
